/*Родитель для .child-one Чтоб верстка не прыгала*/
.parentEl{
width: 250px;
height: 250px;
padding-top: 20px;
}


@keyframes circle-to-square {
  from {
    width: 10px;
    height: 10px;
    background-color: #F498AD;
  }
  50% {
    width: 50px;
    height: 200px;
    background-color: #7F6EDB;
  }
  to {
    width: 700px;
    height: 200px;
    background-color: #2E9AFF;
  }
}

.child-one {
  animation-name: circle-to-square;
  animation-duration: 3s;

  /*кол-во повторов (infinite - бесконечно)*/
  animation-iteration-count: 4;

  /*обратно вернется*/
  animation-direction: alternate;
}








